ModernHttpClient/
*/.droidres
CraftLogs/.vs/
CraftLogs/CraftLogs/CraftLogs/bin
CraftLogs/CraftLogs/CraftLogs/obj
CraftLogs/CraftLogs/CraftLogs.Views/bin
CraftLogs/CraftLogs/CraftLogs.Views/obj
CraftLogs/CraftLogs/CraftLogs.ViewModels/bin
CraftLogs/CraftLogs/CraftLogs.ViewModels/obj
CraftLogs/CraftLogs/CraftLogs.Values/bin
CraftLogs/CraftLogs/CraftLogs.Values/obj
CraftLogs/CraftLogs/CraftLogs.BLL/bin
CraftLogs/CraftLogs/CraftLogs.BLL/obj
CraftLogs/CraftLogs/CraftLogs.Android/bin
CraftLogs/CraftLogs/CraftLogs.Android/obj
CraftLogs/CraftLogs/CraftLogs.Android/CraftLogs.Android.csproj.user